<div class="container">


    <div class="page-header">
  <h1>Edit Role #<%= @role.id %></h1>
</div>

<form action="/edit_role/<%= @role.id %>" class="form-horizontal">
  <!-- Label and input for character_name -->
  <div class="form-group">
    <label for="character_name" class="col-sm-2 control-label">
      Character name
    </label>
    <div class="col-sm-10">
      <input type="text" id="character_name" name="character_name" placeholder="Character name" class="form-control" value="<%= @role.character_name %>">
    </div>
  </div>

  <!-- Label and input for movie_id -->
  <div class="form-group">
    <label for="movie_id" class="col-sm-2 control-label">
      Movie
    </label>
    <div class="col-sm-10">
      <select class="form-control" id="movie_id" name="movie_id"><option value="<%= @role.movie_id %>">rrr</option>
<option value="329">Dude where&#39;s my car</option>
<option value="193">Star Wars: Episode V - The Empire Strikes Back</option>
<option value="194">The Lord of the Rings: The Fellowship of the Ring</option>
<option value="195">One Flew Over the Cuckoo&#39;s Nest</option>
<option value="196">Inception</option>
<option value="198">Star Wars: Episode IV - A New Hope</option>
<option value="199">Seven Samurai</option>
<option value="200">Forrest Gump</option>
<option value="201">The Matrix</option>
<option value="202">The Lord of the Rings: The Two Towers</option>
<option value="203">City of God</option>
<option selected="selected" value="184">The Godfather</option>
<option value="192">RAMIRO2</option>
<option value="204">Se7en</option>
<option value="205">The Silence of the Lambs</option>
<option value="206">Once Upon a Time in the West</option>
<option value="207">Casablanca</option>
<option value="208">The Usual Suspects</option>
<option value="209">Raiders of the Lost Ark</option>
<option value="210">Rear Window</option>
<option value="211">It&#39;s a Wonderful Life</option>
<option value="212">Psycho</option>
<option value="213">Léon: The Professional</option>
<option value="214">Sunset Blvd.</option>
<option value="215">American History X</option>
<option value="216">Apocalypse Now</option>
<option value="217">Terminator 2: Judgment Day</option>
<option value="218">Memento</option>
<option value="219">Saving Private Ryan</option>
<option value="220">City Lights</option>
<option value="280">Unforgiven</option>
<option value="295">asdfd</option>
<option value="221">Dr. Strangelove or: How I Learned to Stop Worrying and Love the Bomb</option>
<option value="222">Alien</option>
<option value="223">Spirited Away</option>
<option value="225">North by Northwest</option>
<option value="226">Back to the Future</option>
<option value="227">Citizen Kane</option>
<option value="228">The Shining</option>
<option value="229">Life Is Beautiful</option>
<option value="289">Movie</option>
<option value="290">movie</option>
<option value="292">Test Movie</option>
<option value="293">Dan&#39;s Mini Movie, p2</option>
<option value="298">tr</option>
<option value="299"></option>
<option value="300">TEST</option>
<option value="301"></option>
<option value="302"></option>
<option value="303">Air Bud</option>
<option value="304"></option>
<option value="305">Irene</option>
<option value="306">xya</option>
<option value="307"></option>
<option value="308">Movie 2</option>
<option value="309">Air Bud</option>
<option value="318">gina</option>
<option value="312">Irene</option>
<option value="313">Irene</option>
<option value="314">ciao </option>
<option value="315">ciao </option>
<option value="317">SuperCoolClub</option>
<option value="319">gina</option>
<option value="320">My Best Friend&#39;s Wedding</option>
<option value="321">asdasd</option>
<option value="322">asdasd</option>
<option value="323">Text</option>
<option value="324">dasdasd</option>
<option value="325">My Best Friend&#39;s Wedding</option>
<option value="326">yay</option>
<option value="327"></option>
<option value="230">The Pianist</option>
<option value="231">The Departed</option>
<option value="232">M</option>
<option value="233">Vertigo</option>
<option value="234">Django Unchained</option>
<option value="235">Paths of Glory</option>
<option value="236">The Dark Knight Rises</option>
<option value="237">American Beauty</option>
<option value="238">Taxi Driver</option>
<option value="239">Aliens</option>
<option value="240">Double Indemnity</option>
<option value="241">WALL·E</option>
<option value="242">The Intouchables</option>
<option value="243">Gladiator</option>
<option value="244">The Green Mile</option>
<option value="245">Toy Story 3</option>
<option value="246">The Lives of Others</option>
<option value="247">The Great Dictator</option>
<option value="248">A Clockwork Orange</option>
<option value="249">The Prestige</option>
<option value="250">Amélie</option>
<option value="251">Lawrence of Arabia</option>
<option value="252">To Kill a Mockingbird</option>
<option value="253">Reservoir Dogs</option>
<option value="254">Das Boot</option>
<option value="255">Cinema Paradiso</option>
<option value="256">The Lion King</option>
<option value="257">The Treasure of the Sierra Madre</option>
<option value="258">The Third Man</option>
<option value="259">Requiem for a Dream</option>
<option value="260">Star Wars: Episode VI - Return of the Jedi</option>
<option value="261">Once Upon a Time in America</option>
<option value="262">Eternal Sunshine of the Spotless Mind</option>
<option value="263">Full Metal Jacket</option>
<option value="264">Braveheart</option>
<option value="265">Oldboy</option>
<option value="266">L.A. Confidential</option>
<option value="267">Chinatown</option>
<option value="268">Singin&#39; in the Rain</option>
<option value="269">Bicycle Thieves</option>
<option value="270">Monty Python and the Holy Grail</option>
<option value="271">Some Like It Hot</option>
<option value="272">Metropolis</option>
<option value="273">Princess Mononoke</option>
<option value="275">Amadeus</option>
<option value="276">2001: A Space Odyssey</option>
<option value="277">The Sting</option>
<option value="278">All About Eve</option>
<option value="279">The Apartment</option>
<option value="281">Indiana Jones and the Last Crusade</option>
<option value="282">Grave of the Fireflies</option>
<option value="283">Raging Bull</option>
<option value="284">Witness for the Prosecution</option>
<option value="285">The Bridge on the River Kwai</option>
<option value="286">Die Hard</option></select>
    </div>
  </div>

  <!-- Label and input for actor_id -->
  <div class="form-group">
    <label for="actor_id" class="col-sm-2 control-label">
      Actor
    </label>
    <div class="col-sm-10">
      <select class="form-control" id="actor_id" name="actor_id"><option value="<%= @role.actor_id %>">Scott Glenn</option>
<option value="1632">Anthony Heald</option>
<option value="1633">Frankie Faison</option>
<option value="1634">Don Brockett</option>
<option value="1635">Frank Seals Jr.</option>
<option value="1636">Stuart Rudin</option>
<option selected="selected" value="1637">Anthony Hopkins</option>
<option value="1638">Maria Skorobogatov</option>
<option value="1639">Jeffrie Lane</option>
<option value="1640">Leib Lensky</option>
<option value="1641">George &#39;Red&#39; Schwartz</option>
<option value="1642">Claudia Cardinale</option>
<option value="1643">Jason Robards</option>
<option value="1644">Charles Bronson</option>
<option value="1645">Gabriele Ferzetti</option>
<option value="1646">Paolo Stoppa</option>
<option value="1647">Woody Strode</option>
<option value="2019">Emile Meyer</option>
<option value="2254">Herbert Grönemeyer</option>
<option value="2255">Klaus Wennemann</option>
<option value="2058">Leonard Harris</option>
<option value="2059">Carrie Henn</option>
<option value="2060">Michael Biehn</option>
<option value="2061">Paul Reiser</option>
<option value="2062">Lance Henriksen</option>
<option value="2063">Bill Paxton</option>
<option value="2064">William Hope</option>
<option value="2065">Al Matthews</option>
<option value="2066">Ricco Ross</option>
<option value="2067">Colette Hiller</option>
<option value="2068">Daniel Kash</option>
<option value="2069">Cynthia Dale Scott</option>
<option value="2070">Tip Tipping</option>
<option value="2071">Fred MacMurray</option>
<option value="2114">John Shrapnel</option>
<option value="2115">Tomas Arana</option>
<option value="2160">Jack Oakie</option>
<option value="2161">Reginald Gardiner</option>
<option value="2162">Henry Daniell</option>
<option value="2163">Billy Gilbert</option>
<option value="2164">Grace Hayle</option>
<option value="2165">Carter DeHaven</option>
<option value="2166">Maurice Moscovitch</option>
<option value="2167">Emma Dunn</option>
<option value="2168">Bernard Gorcey</option>
<option value="2169">Paul Weigel</option>
<option value="2170">Esther Michelson</option>
<option value="2171">Malcolm McDowell</option>
<option value="2172">Patrick Magee</option>
<option value="2173">Michael Bates</option>
<option value="2174">Warren Clarke</option>
<option value="2175">John Clive</option>
<option value="2176">Adrienne Corri</option>
<option value="2177">Carl Duering</option>
<option value="2178">Paul Farrell</option>
<option value="2179">Clive Francis</option>
<option value="2180">Michael Gover</option>
<option value="2181">Miriam Karlin</option>
<option value="2182">James Marcus</option>
<option value="2183">Aubrey Morris</option>
<option value="2184">Godfrey Quigley</option>
<option value="2185">Sheila Raynor</option>
<option value="2329">Jack O&#39;Connell</option>
<option value="2330">Chas Mastin</option>
<option value="2375">Sandy Nelson</option>
<option value="2376">James Cosmo</option>
<option value="2377">Sean McGinley</option>
<option value="2378">Alan Tall</option>
<option value="2379">Andrew Weir</option>
<option value="2380">Gerda Stevenson</option>
<option value="2381">Ralph Riach</option>
<option value="2382">Mhairi Calvey</option>
<option value="2383">Brian Cox</option>
<option value="2384">Patrick McGoohan</option>
<option value="2385">Peter Hanly</option>
<option value="2386">Sophie Marceau</option>
<option value="2387">Stephen Billington</option>
<option value="2577">Beverley Elliott</option>
<option value="2578">Liisa Repo-Martell</option>
<option value="2579">Josie Smith</option>
<option value="2580">Sean Connery</option>
<option value="2581">Alison Doody</option>
<option value="2229">Rosemary Murphy</option>
<option value="2230">Ruth White</option>
<option value="2231">Brock Peters</option>
<option value="2232">Estelle Evans</option>
<option value="2233">Paul Fix</option>
<option value="2234">Collin Wilcox Paxton</option>
<option value="2235">James Anderson</option>
<option value="2236">Alice Ghostley</option>
<option value="2237">William Windom</option>
<option value="2238">Crahan Denton</option>
<option value="2239">Richard Hale</option>
<option value="2240">Harvey Keitel</option>
<option value="2241">Michael Madsen</option>
<option value="2242">Chris Penn</option>
<option value="2243">Steve Buscemi</option>
<option value="2244">Lawrence Tierney</option>
<option value="2245">Edward Bunker</option>
<option value="2246">Quentin Tarantino</option>
<option value="2247">Randy Brooks</option>
<option value="2430">Jean Hagen</option>
<option value="1648">Jack Elam</option>
<option value="1649">Keenan Wynn</option>
<option value="1650">Frank Wolff</option>
<option value="1651">Lionel Stander</option>
<option value="1652">Humphrey Bogart</option>
<option value="1653">Ingrid Bergman</option>
<option value="1654">Paul Henreid</option>
<option value="1655">Claude Rains</option>
<option value="1656">Conrad Veidt</option>
<option value="1657">Sydney Greenstreet</option>
<option value="1658">Peter Lorre</option>
<option value="1659">S.Z. Sakall</option>
<option value="1660">Madeleine Lebeau</option>
<option value="1661">Dooley Wilson</option>
<option value="1923">Danny Lloyd</option>
<option value="1924">Barry Nelson</option>
<option value="1925">Philip Stone</option>
<option value="1926">Joe Turkel</option>
<option value="1927">Anne Jackson</option>
<option value="1928">Tony Burton</option>
<option value="1929">Lia Beldam</option>
<option value="1930">Billie Gibson</option>
<option value="1931">Barry Dennen</option>
<option value="1932">David Baxt</option>
<option value="1933">Manning Redwood</option>
<option value="1934">Lisa Burns</option>
<option value="1935">Roberto Benigni</option>
<option value="1936">Nicoletta Braschi</option>
<option value="1937">Giorgio Cantarini</option>
<option value="1938">Giustino Durano</option>
<option value="1939">Sergio Bini Bustric</option>
<option value="1940">Marisa Paredes</option>
<option value="1941">Horst Buchholz</option>
<option value="1942">Giuliana Lojodice</option>
<option value="1943">Amerigo Fontani</option>
<option value="1944">Pietro De Silva</option>
<option value="1945">Francesco Guzzo</option>
<option value="1946">Raffaella Lebboroni</option>
<option value="1947">Claudio Alfonsi</option>
<option value="1948">Gil Baroni</option>
<option value="1949">Massimo Bianchi</option>
<option value="1950">Adrien Brody</option>
<option value="1951">Emilia Fox</option>
<option value="1952">Michal Zebrowski</option>
<option value="1953">Ed Stoppard</option>
<option value="1954">Maureen Lipman</option>
<option value="1955">Frank Finlay</option>
<option value="1956">Jessica Kate Meyer</option>
<option value="1957">Julia Rayner</option>
<option value="1958">Wanja Mues</option>
<option value="1959">Richard Ridings</option>
<option value="1960">Nomi Sharron</option>
<option value="1961">Anthony Milner</option>
<option value="1962">Lucy Skeaping</option>
<option value="1963">Roddy Skeaping</option>
<option value="1964">Ben Harlan</option>
<option value="1965">Mark Wahlberg</option>
<option value="1356">Robert Duvall</option>
<option value="1357">Sterling Hayden</option>
<option value="1367">Robert De Niro</option>
<option value="1368">Lee Strasberg</option>
<option value="1369">Michael V. Gazzo</option>
<option value="1370">G.D. Spradlin</option>
<option value="1371">Richard Bright</option>
<option value="1372">Gastone Moschin</option>
<option value="1373">Tom Rosqui</option>
<option value="1374">Bruno Kirby</option>
<option value="1375">Frank Sivero</option>
<option value="1376">Francesca De Sapio</option>
<option value="1377">John Travolta</option>
<option value="1378">Samuel L. Jackson</option>
<option value="1379">Tim Roth</option>
<option value="1694">James Stewart</option>
<option value="1695">Grace Kelly</option>
<option value="1366">Rudy Bond</option>
<option value="1380">Amanda Plummer</option>
<option value="1381">Eric Stoltz</option>
<option value="1382">Bruce Willis</option>
<option value="1383">Ving Rhames</option>
<option value="1384">Phil LaMarr</option>
<option value="1385">Maria de Medeiros</option>
<option value="1386">Rosanna Arquette</option>
<option value="1387">Peter Greene</option>
<option value="1388">Uma Thurman</option>
<option value="1389">Duane Whitaker</option>
<option value="1390">Paul Calderon</option>
<option value="1391">Frank Whaley</option>
<option value="1337">Tim Robbins</option>
<option value="1338">Morgan Freeman</option>
<option value="1339">Bob Gunton</option>
<option value="1340">William Sadler</option>
<option value="1341">Clancy Brown</option>
<option value="1342">Gil Bellows</option>
<option value="1343">Mark Rolston</option>
<option value="1344">James Whitmore</option>
<option value="1345">Jeffrey DeMunn</option>
<option value="1346">Larry Brandenburg</option>
<option value="1347">Neil Giuntoli</option>
<option value="1348">Brian Libby</option>
<option value="1349">David Proval</option>
<option value="1350">Joseph Ragno</option>
<option value="1351">Jude Ciccolella</option>
<option value="1352">Marlon Brando</option>
<option value="1353">Al Pacino</option>
<option value="1354">James Caan</option>
<option value="1355">Richard S. Castellano</option>
<option value="1358">John Marley</option>
<option value="1359">Richard Conte</option>
<option value="1360">Al Lettieri</option>
<option value="1361">Diane Keaton</option>
<option value="1362">Abe Vigoda</option>
<option value="1363">Talia Shire</option>
<option value="1364">Gianni Russo</option>
<option value="1365">John Cazale</option>
<option value="1392">Eli Wallach</option>
<option value="1393">Clint Eastwood</option>
<option value="1394">Lee Van Cleef</option>
<option value="1395">Aldo Giuffrè</option>
<option value="1396">Luigi Pistilli</option>
<option value="1397">Rada Rassimov</option>
<option value="1398">Enzo Petito</option>
<option value="1399">Claudio Scarchilli</option>
<option value="1400">John Bartha</option>
<option value="1401">Livio Lorenzon</option>
<option value="1402">Antonio Casale</option>
<option value="1403">Sandro Scarchilli</option>
<option value="1404">Benito Stefanelli</option>
<option value="1405">Angelo Novi</option>
<option value="1406">Antonio Casas</option>
<option value="1407">Christian Bale</option>
<option value="1408">Heath Ledger</option>
<option value="1409">Aaron Eckhart</option>
<option value="1410">Michael Caine</option>
<option value="1411">Maggie Gyllenhaal</option>
<option value="1412">Gary Oldman</option>
<option value="1428">Henry Fonda</option>
<option value="1429">Joseph Sweeney</option>
<option value="1413">Monique Gabriela Curnen</option>
<option value="1414">Ron Dean</option>
<option value="1415">Cillian Murphy</option>
<option value="1416">Chin Han</option>
<option value="1417">Nestor Carbonell</option>
<option value="1418">Eric Roberts</option>
<option value="1419">Ritchie Coster</option>
<option value="1420">Anthony Michael Hall</option>
<option value="1421">Martin Balsam</option>
<option value="1422">John Fiedler</option>
<option value="1423">Lee J. Cobb</option>
<option value="1424">E.G. Marshall</option>
<option value="1425">Jack Klugman</option>
<option value="1426">Edward Binns</option>
<option value="1427">Jack Warden</option>
<option value="1430">Ed Begley</option>
<option value="1431">George Voskovec</option>
<option value="1712">Beulah Bondi</option>
<option value="1432">Robert Webber</option>
<option value="1433">Liam Neeson</option>
<option value="1434">Ben Kingsley</option>
<option value="1435">Ralph Fiennes</option>
<option value="1436">Caroline Goodall</option>
<option value="1437">Jonathan Sagall</option>
<option value="1438">Embeth Davidtz</option>
<option value="1439">Malgorzata Gebel</option>
<option value="1440">Shmuel Levy</option>
<option value="1572">Margo Moorer</option>
<option value="1573">Ione M. Telech</option>
<option value="1574">Christine Seabrook</option>
<option value="1575">John Worsham</option>
<option value="1576">Peter Dobson</option>
<option value="1441">Mark Ivanir</option>
<option value="1442">Béatrice Macola</option>
<option value="1443">Andrzej Seweryn</option>
<option value="1444">Friedrich von Thun</option>
<option value="1445">Krzysztof Luft</option>
<option value="1446">Harry Nehring</option>
<option value="1447">Norbert Weisser</option>
<option value="1448">Noel Appleby</option>
<option value="1449">Alexandra Astin</option>
<option value="1450">Sean Astin</option>
<option value="1451">David Aston</option>
<option value="1452">John Bach</option>
<option value="1453">Sean Bean</option>
<option value="1454">Cate Blanchett</option>
<option value="1455">Orlando Bloom</option>
<option value="1456">Billy Boyd</option>
<option value="1457">Sadwyn Brophy</option>
<option value="1458">Alistair Browning</option>
<option value="1459">Marton Csokas</option>
<option value="1460">Richard Edge</option>
<option value="1461">Jason Fitch</option>
<option value="1462">Bernard Hill</option>
<option value="1463">Edward Norton</option>
<option value="1464">Brad Pitt</option>
<option value="1465">Helena Bonham Carter</option>
<option value="1466">Meat Loaf</option>
<option value="1467">Zach Grenier</option>
<option value="1468">Richmond Arquette</option>
<option value="1469">David Andrews</option>
<option value="1470">George Maguire</option>
<option value="1471">Eugenie Bondurant</option>
<option value="1472">Christina Cabot</option>
<option value="1473">Sydney &#39;Big Dawg&#39; Colston</option>
<option value="1474">Rachel Singer</option>
<option value="1475">Christie Cronenweth</option>
<option value="1476">Tim De Zarn</option>
<option value="1477">Ezra Buzzington</option>
<option value="1478">Mark Hamill</option>
<option value="1479">Harrison Ford</option>
<option value="1480">Carrie Fisher</option>
<option value="1481">Billy Dee Williams</option>
<option value="1482">Anthony Daniels</option>
<option value="1483">David Prowse</option>
<option value="1484">Peter Mayhew</option>
<option value="1485">Kenny Baker</option>
<option value="1486">Frank Oz</option>
<option value="1577">Siobhan Fallon</option>
<option value="1487">Alec Guinness</option>
<option value="1488">Jeremy Bulloch</option>
<option value="1489">John Hollis</option>
<option value="1490">Jack Purvis</option>
<option value="1491">Des Webb</option>
<option value="1492">Clive Revill</option>
<option value="1493">Alan Howard</option>
<option value="1494">Elijah Wood</option>
<option value="1495">Sala Baker</option>
<option value="1496">Megan Edwards</option>
<option value="1497">Michael Elsworth</option>
<option value="1498">Mark Ferguson</option>
<option value="1499">Ian Holm</option>
<option value="1500">Christopher Lee</option>
<option value="1501">Michael Berryman</option>
<option value="1578">Keanu Reeves</option>
<option value="1502">Peter Brocco</option>
<option value="1503">Dean R. Brooks</option>
<option value="1504">Alonzo Brown</option>
<option value="1505">Scatman Crothers</option>
<option value="1506">Mwako Cumbuka</option>
<option value="1507">Danny DeVito</option>
<option value="1508">William Duell</option>
<option value="1509">Josip Elic</option>
<option value="1510">Lan Fendors</option>
<option value="1511">Louise Fletcher</option>
<option value="1512">Nathan George</option>
<option value="1513">Ken Kenny</option>
<option value="1514">Mel Lambert</option>
<option value="1515">Sydney Lassick</option>
<option value="1516">Leonardo DiCaprio</option>
<option value="1517">Joseph Gordon-Levitt</option>
<option value="1518">Ellen Page</option>
<option value="1519">Tom Hardy</option>
<option value="1520">Ken Watanabe</option>
<option value="1521">Dileep Rao</option>
<option value="1522">Tom Berenger</option>
<option value="1523">Marion Cotillard</option>
<option value="1524">Pete Postlethwaite</option>
<option value="1525">Lukas Haas</option>
<option value="1526">Tai-Li Lee</option>
<option value="1527">Claire Geare</option>
<option value="1528">Magnus Nolan</option>
<option value="1529">Ray Liotta</option>
<option value="1530">Joe Pesci</option>
<option value="1531">Lorraine Bracco</option>
<option value="1579">Laurence Fishburne</option>
<option value="1580">Carrie-Anne Moss</option>
<option value="1581">Hugo Weaving</option>
<option value="1725">Janet Leigh</option>
<option value="1726">John McIntire</option>
<option value="1532">Paul Sorvino</option>
<option value="1533">Tony Darrow</option>
<option value="1534">Mike Starr</option>
<option value="1535">Frank Vincent</option>
<option value="1536">Chuck Low</option>
<option value="1537">Frank DiLeo</option>
<option value="1538">Henny Youngman</option>
<option value="1539">Gina Mastrogiacomo</option>
<option value="1540">Catherine Scorsese</option>
<option value="1541">Charles Scorsese</option>
<option value="1542">Peter Cushing</option>
<option value="1543">Phil Brown</option>
<option value="1544">Shelagh Fraser</option>
<option value="1545">Alex McCrindle</option>
<option value="1546">Eddie Byrne</option>
<option value="1547">Drewe Henley</option>
<option value="1548">Toshirô Mifune</option>
<option value="1605">Seu Jorge</option>
<option value="1606">Jefechander Suplino</option>
<option value="1607">Alice Braga</option>
<option value="1608">Emerson Gomes</option>
<option value="1609">Edson Oliveira</option>
<option value="1610">Michel de Souza</option>
<option value="1611">Roberta Rodrigues</option>
<option value="1612">Luis Otávio</option>
<option value="1613">Maurício Marques</option>
<option value="1614">Gwyneth Paltrow</option>
<option value="1759">Buster Keaton</option>
<option value="1549">Takashi Shimura</option>
<option value="1550">Keiko Tsushima</option>
<option value="1551">Yukiko Shimazaki</option>
<option value="1552">Kamatari Fujiwara</option>
<option value="1553">Daisuke Katô</option>
<option value="1554">Isao Kimura</option>
<option value="1555">Minoru Chiaki</option>
<option value="1556">Seiji Miyaguchi</option>
<option value="1557">Yoshio Kosugi</option>
<option value="1558">Bokuzen Hidari</option>
<option value="1559">Yoshio Inaba</option>
<option value="1560">Yoshio Tsuchiya</option>
<option value="1561">Kokuten Kôdô</option>
<option value="1562">Eijirô Tôno</option>
<option value="1563">Tom Hanks</option>
<option value="1564">Rebecca Williams</option>
<option value="1565">Sally Field</option>
<option value="1566">Michael Conner Humphreys</option>
<option value="1567">Harold G. Herthum</option>
<option value="1568">George Kelly</option>
<option value="1569">Bob Penny</option>
<option value="1570">John Randall</option>
<option value="1571">Sam Anderson</option>
<option value="1582">Gloria Foster</option>
<option value="1583">Joe Pantoliano</option>
<option value="1584">Marcus Chong</option>
<option value="1585">Julian Arahanga</option>
<option value="1586">Matt Doran</option>
<option value="1587">Belinda McClory</option>
<option value="1588">Anthony Ray Parker</option>
<option value="1589">Paul Goddard</option>
<option value="1590">Robert Taylor</option>
<option value="1591">Marc Aden Gray</option>
<option value="1592">Bruce Allpress</option>
<option value="1593">Jed Brophy</option>
<option value="1594">Sam Comery</option>
<option value="1595">Brad Dourif</option>
<option value="1596">Calum Gittins</option>
<option value="1597">Bruce Hopkins</option>
<option value="1598">Paris Howe Strewe</option>
<option value="1599">Alexandre Rodrigues</option>
<option value="1600">Leandro Firmino</option>
<option value="1601">Phellipe Haagensen</option>
<option value="1602">Douglas Silva</option>
<option value="1603">Jonathan Haagensen</option>
<option value="1604">Matheus Nachtergaele</option>
<option value="1615">R. Lee Ermey</option>
<option value="1616">Andrew Kevin Walker</option>
<option value="1617">Daniel Zacapa</option>
<option value="1618">John Cassini</option>
<option value="1619">Bob Mack</option>
<option value="1620">Peter Crombie</option>
<option value="1621">Reg E. Cathey</option>
<option value="1622">George Christy</option>
<option value="1623">Endre Hules</option>
<option value="1624">Hawthorne James</option>
<option value="1625">William Davidson</option>
<option value="1626">Bob Collins</option>
<option value="1627">Jodie Foster</option>
<option value="1628">Lawrence A. Bonney</option>
<option value="1662">Joy Page</option>
<option value="1663">John Qualen</option>
<option value="1664">Leonid Kinskey</option>
<option value="1665">Curt Bois</option>
<option value="1666">Stephen Baldwin</option>
<option value="1667">Gabriel Byrne</option>
<option value="1668">Benicio Del Toro</option>
<option value="1669">Kevin Pollak</option>
<option value="1670">Kevin Spacey</option>
<option value="1671">Chazz Palminteri</option>
<option value="1815">Jeremy Davies</option>
<option value="1816">Matt Damon</option>
<option value="1817">Ted Danson</option>
<option value="1672">Giancarlo Esposito</option>
<option value="1673">Suzy Amis</option>
<option value="1674">Dan Hedaya</option>
<option value="1675">Paul Bartel</option>
<option value="1676">Carl Bressler</option>
<option value="1677">Phillipe Simon</option>
<option value="1678">Jack Shearer</option>
<option value="1679">Christine Estabrook</option>
<option value="1680">Karen Allen</option>
<option value="1863">Koba Hayashi</option>
<option value="1864">Rumi Hiiragi</option>
<option value="1865">Paulette Goddard</option>
<option value="1681">Paul Freeman</option>
<option value="1682">Ronald Lacey</option>
<option value="1683">John Rhys-Davies</option>
<option value="1684">Denholm Elliott</option>
<option value="1685">Alfred Molina</option>
<option value="1686">Wolf Kahler</option>
<option value="1687">Anthony Higgins</option>
<option value="1688">Vic Tablian</option>
<option value="1689">Don Fellows</option>
<option value="1690">William Hootkins</option>
<option value="1691">Bill Reimbold</option>
<option value="1692">Fred Sorenson</option>
<option value="1693">Patrick Durkin</option>
<option value="1696">Wendell Corey</option>
<option value="1697">Thelma Ritter</option>
<option value="1698">Raymond Burr</option>
<option value="1699">Judith Evelyn</option>
<option value="1700">Ross Bagdasarian</option>
<option value="1701">Georgine Darcy</option>
<option value="1702">Sara Berner</option>
<option value="1703">Frank Cady</option>
<option value="1704">Jesslyn Fax</option>
<option value="1705">Rand Harper</option>
<option value="1706">Irene Winston</option>
<option value="1707">Havis Davenport</option>
<option value="1708">Donna Reed</option>
<option value="1709">Lionel Barrymore</option>
<option value="1710">Thomas Mitchell</option>
<option value="1711">Henry Travers</option>
<option value="1713">Frank Faylen</option>
<option value="1714">Ward Bond</option>
<option value="1715">Gloria Grahame</option>
<option value="1716">H.B. Warner</option>
<option value="1717">Frank Albertson</option>
<option value="1718">Todd Karns</option>
<option value="1719">Samuel S. Hinds</option>
<option value="1720">Mary Treen</option>
<option value="1721">Virginia Patton</option>
<option value="1722">Anthony Perkins</option>
<option value="1723">Vera Miles</option>
<option value="1724">John Gavin</option>
<option value="1866">Henry Bergman</option>
<option value="1727">Simon Oakland</option>
<option value="1728">Patricia Hitchcock</option>
<option value="1729">Vaughn Taylor</option>
<option value="1730">Lurene Tuttle</option>
<option value="1731">John Anderson</option>
<option value="1732">Mort Mills</option>
<option value="1733">Jean Reno</option>
<option value="1734">Natalie Portman</option>
<option value="1735">Danny Aiello</option>
<option value="1736">Peter Appel</option>
<option value="1737">Willi One Blood</option>
<option value="1738">Don Creech</option>
<option value="1739">Keith A. Glascoe</option>
<option value="1740">Randolph Scott</option>
<option value="1741">Michael Badalucco</option>
<option value="1742">Ellen Greene</option>
<option value="1743">Elizabeth Regen</option>
<option value="1744">Carl J. Matusovich</option>
<option value="1745">Frank Senger</option>
<option value="1746">Lucius Wyatt Cherokee</option>
<option value="1747">William Holden</option>
<option value="1748">Gloria Swanson</option>
<option value="1749">Erich von Stroheim</option>
<option value="1750">Nancy Olson</option>
<option value="1751">Fred Clark</option>
<option value="1752">Lloyd Gough</option>
<option value="1753">Jack Webb</option>
<option value="1754">Franklyn Farnum</option>
<option value="1755">Larry J. Blake</option>
<option value="1756">Charles Dayton</option>
<option value="1757">Cecil B. DeMille</option>
<option value="1758">Hedda Hopper</option>
<option value="1760">Anna Q. Nilsson</option>
<option value="1761">Edward Furlong</option>
<option value="1762">Beverly D&#39;Angelo</option>
<option value="1763">Jennifer Lien</option>
<option value="1764">Ethan Suplee</option>
<option value="1765">Fairuza Balk</option>
<option value="1766">Avery Brooks</option>
<option value="1767">Elliott Gould</option>
<option value="1768">Stacy Keach</option>
<option value="1769">William Russ</option>
<option value="1770">Guy Torry</option>
<option value="1771">Joe Cortese</option>
<option value="1772">Jason Bose Smith</option>
<option value="1773">Antonio David Lyons</option>
<option value="1774">Alex Sol</option>
<option value="1775">Martin Sheen</option>
<option value="1776">Frederic Forrest</option>
<option value="1777">Sam Bottoms</option>
<option value="1778">Albert Hall</option>
<option value="1779">Dennis Hopper</option>
<option value="1780">Jerry Ziesmer</option>
<option value="1781">Bo Byers</option>
<option value="1782">James Keane</option>
<option value="1783">Kerry Rossall</option>
<option value="1784">Arnold Schwarzenegger</option>
<option value="1785">Linda Hamilton</option>
<option value="1786">Robert Patrick</option>
<option value="1787">Earl Boen</option>
<option value="1788">Joe Morton</option>
<option value="1789">S. Epatha Merkerson</option>
<option value="1790">Castulo Guerra</option>
<option value="1791">Danny Cooksey</option>
<option value="1792">Jenette Goldstein</option>
<option value="1793">Xander Berkeley</option>
<option value="1794">Leslie Hamilton Gearren</option>
<option value="1795">Ken Gibbel</option>
<option value="1796">Robert Winley</option>
<option value="1797">Peter Schrum</option>
<option value="1798">Guy Pearce</option>
<option value="1799">Mark Boone Junior</option>
<option value="1800">Russ Fega</option>
<option value="1801">Jorja Fox</option>
<option value="1867">Tiny Sandford</option>
<option value="1802">Stephen Tobolowsky</option>
<option value="1803">Harriet Sansom Harris</option>
<option value="1804">Thomas Lennon</option>
<option value="1805">Callum Keith Rennie</option>
<option value="1806">Kimberly Campbell</option>
<option value="1807">Marianne Muellerleile</option>
<option value="1808">Larry Holden</option>
<option value="1809">Tom Sizemore</option>
<option value="1810">Edward Burns</option>
<option value="1811">Barry Pepper</option>
<option value="1812">Adam Goldberg</option>
<option value="1813">Vin Diesel</option>
<option value="1814">Giovanni Ribisi</option>
<option value="1818">Paul Giamatti</option>
<option value="1819">Dennis Farina</option>
<option value="1820">Joerg Stadler</option>
<option value="1821">Max Martini</option>
<option value="1822">Dylan Bruno</option>
<option value="1823">Virginia Cherrill</option>
<option value="1824">Florence Lee</option>
<option value="1825">Harry Myers</option>
<option value="1826">Al Ernest Garcia</option>
<option value="1827">Hank Mann</option>
<option value="1828">Charles Chaplin</option>
<option value="1829">Peter Sellers</option>
<option value="1830">George C. Scott</option>
<option value="1831">Slim Pickens</option>
<option value="1832">Peter Bull</option>
<option value="1833">James Earl Jones</option>
<option value="1834">Tracy Reed</option>
<option value="1835">Jack Creley</option>
<option value="1836">Frank Berry</option>
<option value="1837">Robert O&#39;Neil</option>
<option value="1838">Glenn Beck</option>
<option value="1839">Roy Stephens</option>
<option value="1840">Shane Rimmer</option>
<option value="1841">Hal Galili</option>
<option value="1882">Josephine Hutchinson</option>
<option value="1842">Tom Skerritt</option>
<option value="1843">Sigourney Weaver</option>
<option value="1844">Veronica Cartwright</option>
<option value="1845">Harry Dean Stanton</option>
<option value="1846">John Hurt</option>
<option value="1847">Yaphet Kotto</option>
<option value="1848">Bolaji Badejo</option>
<option value="1849">Helen Horton</option>
<option value="1850">Daveigh Chase</option>
<option value="1851">Suzanne Pleshette</option>
<option value="1852">Susan Egan</option>
<option value="1853">David Ogden Stiers</option>
<option value="1854">Lauren Holly</option>
<option value="1855">Michael Chiklis</option>
<option value="1856">John Ratzenberger</option>
<option value="1857">Jack Angel</option>
<option value="1858">Bob Bergen</option>
<option value="1859">Rodger Bumpass</option>
<option value="1860">Jennifer Darling</option>
<option value="1861">Paul Eiding</option>
<option value="1862">Tatsuya Gashûin</option>
<option value="1868">Chester Conklin</option>
<option value="1869">Stanley Blystone</option>
<option value="1870">Richard Alexander</option>
<option value="1871">Cecil Reynolds</option>
<option value="1872">Mira McKinney</option>
<option value="1873">Murdock MacQuarrie</option>
<option value="1874">Wilfred Lucas</option>
<option value="1875">Edward LeSaint</option>
<option value="1876">Fred Malatesta</option>
<option value="1877">Cary Grant</option>
<option value="1878">Eva Marie Saint</option>
<option value="1879">James Mason</option>
<option value="1880">Jessie Royce Landis</option>
<option value="1881">Leo G. Carroll</option>
<option value="1922">Shelley Duvall</option>
<option value="1883">Philip Ober</option>
<option value="1884">Martin Landau</option>
<option value="1885">Adam Williams</option>
<option value="1886">Edward Platt</option>
<option value="1887">Robert Ellenstein</option>
<option value="1888">Les Tremayne</option>
<option value="1889">Philip Coolidge</option>
<option value="1890">Patrick McVey</option>
<option value="1891">Michael J. Fox</option>
<option value="1892">Christopher Lloyd</option>
<option value="1893">Lea Thompson</option>
<option value="1894">Crispin Glover</option>
<option value="1895">Thomas F. Wilson</option>
<option value="1896">Claudia Wells</option>
<option value="1897">Marc McClure</option>
<option value="1898">Wendie Jo Sperber</option>
<option value="1899">George DiCenzo</option>
<option value="1900">Frances Lee McCain</option>
<option value="1901">James Tolkan</option>
<option value="1902">J.J. Cohen</option>
<option value="1903">Casey Siemaszko</option>
<option value="1904">Billy Zane</option>
<option value="1905">Harry Waters Jr.</option>
<option value="1906">Joseph Cotten</option>
<option value="1907">Dorothy Comingore</option>
<option value="1908">Agnes Moorehead</option>
<option value="1909">Ruth Warrick</option>
<option value="1910">Ray Collins</option>
<option value="1911">Erskine Sanford</option>
<option value="1912">Everett Sloane</option>
<option value="1913">William Alland</option>
<option value="1914">Paul Stewart</option>
<option value="1915">George Coulouris</option>
<option value="1916">Fortunio Bonanova</option>
<option value="1917">Gus Schilling</option>
<option value="1918">Philip Van Zandt</option>
<option value="1919">Georgia Backus</option>
<option value="1920">Harry Shannon</option>
<option value="1921">Jack Nicholson</option>
<option value="1966">Ray Winstone</option>
<option value="1967">Vera Farmiga</option>
<option value="1968">Anthony Anderson</option>
<option value="1969">Alec Baldwin</option>
<option value="1970">Kevin Corrigan</option>
<option value="1971">James Badge Dale</option>
<option value="1972">David O&#39;Hara</option>
<option value="1973">Robert Wahlberg</option>
<option value="1974">Kristen Dalton</option>
<option value="1975">Ellen Widmann</option>
<option value="1976">Inge Landgut</option>
<option value="1977">Otto Wernicke</option>
<option value="1978">Theodor Loos</option>
<option value="1979">Gustaf Gründgens</option>
<option value="1980">Friedrich Gnaß</option>
<option value="1981">Fritz Odemar</option>
<option value="1982">Paul Kemp</option>
<option value="1983">Theo Lingen</option>
<option value="1984">Rudolf Blümner</option>
<option value="1985">Georg John</option>
<option value="1986">Franz Stein</option>
<option value="1987">Ernst Stahl-Nachbaur</option>
<option value="1988">Gerhard Bienert</option>
<option value="1989">Kim Novak</option>
<option value="1990">Barbara Bel Geddes</option>
<option value="1991">Tom Helmore</option>
<option value="1992">Henry Jones</option>
<option value="1993">Raymond Bailey</option>
<option value="1994">Ellen Corby</option>
<option value="1995">Konstantin Shayne</option>
<option value="1996">Lee Patrick</option>
<option value="1997">Jamie Foxx</option>
<option value="2015">Richard Anderson</option>
<option value="2016">Christiane Kubrick</option>
<option value="2017">Jerry Hausner</option>
<option value="2018">Peter Capell</option>
<option value="1998">Christoph Waltz</option>
<option value="1999">Kerry Washington</option>
<option value="2000">Walton Goggins</option>
<option value="2001">Dennis Christopher</option>
<option value="2002">James Remar</option>
<option value="2003">David Steen</option>
<option value="2004">Dana Gourrier</option>
<option value="2005">Nichole Galicia</option>
<option value="2006">Laura Cayouette</option>
<option value="2007">Ato Essandoh</option>
<option value="2008">Sammi Rotibi</option>
<option value="2009">Clay Donahue Fontenot</option>
<option value="2010">Kirk Douglas</option>
<option value="2011">Ralph Meeker</option>
<option value="2012">Adolphe Menjou</option>
<option value="2013">George Macready</option>
<option value="2014">Wayne Morris</option>
<option value="2020">Bert Freed</option>
<option value="2021">Kem Dibbs</option>
<option value="2022">Timothy Carey</option>
<option value="2023">Fred Bell</option>
<option value="2024">Anne Hathaway</option>
<option value="2025">Matthew Modine</option>
<option value="2026">Alon Aboutboul</option>
<option value="2027">Ben Mendelsohn</option>
<option value="2028">Burn Gorman</option>
<option value="2029">Daniel Sunjata</option>
<option value="2030">Aidan Gillen</option>
<option value="2031">Sam Kennard</option>
<option value="2032">Annette Bening</option>
<option value="2033">Thora Birch</option>
<option value="2034">Wes Bentley</option>
<option value="2085">Kathy Najimy</option>
<option value="2035">Mena Suvari</option>
<option value="2036">Chris Cooper</option>
<option value="2037">Peter Gallagher</option>
<option value="2038">Allison Janney</option>
<option value="2039">Scott Bakula</option>
<option value="2040">Sam Robards</option>
<option value="2041">Barry Del Sherman</option>
<option value="2042">Ara Celi</option>
<option value="2043">John Cho</option>
<option value="2044">Fort Atkinson</option>
<option value="2045">Sue Casey</option>
<option value="2046">Diahnne Abbott</option>
<option value="2047">Frank Adu</option>
<option value="2048">Victor Argo</option>
<option value="2049">Gino Ardito</option>
<option value="2050">Garth Avery</option>
<option value="2051">Peter Boyle</option>
<option value="2052">Albert Brooks</option>
<option value="2053">Harry Cohn</option>
<option value="2054">Copper Cunningham</option>
<option value="2055">Brenda Dickson</option>
<option value="2056">Harry Fischler</option>
<option value="2057">Nat Grant</option>
<option value="2072">Barbara Stanwyck</option>
<option value="2073">Edward G. Robinson</option>
<option value="2074">Porter Hall</option>
<option value="2075">Jean Heather</option>
<option value="2076">Tom Powers</option>
<option value="2077">Byron Barr</option>
<option value="2078">Richard Gaines</option>
<option value="2079">John Philliber</option>
<option value="2080">Ben Burtt</option>
<option value="2081">Elissa Knight</option>
<option value="2082">Jeff Garlin</option>
<option value="2083">Fred Willard</option>
<option value="2084">MacInTalk</option>
<option value="2086">Lori Alan</option>
<option value="2087">John Cygan</option>
<option value="2088">Pete Docter</option>
<option value="2089">Donald Fullilove</option>
<option value="2090">Teresa Ganzel</option>
<option value="2091">François Cluzet</option>
<option value="2092">Omar Sy</option>
<option value="2093">Anne Le Ny</option>
<option value="2094">Audrey Fleurot</option>
<option value="2095">Joséphine de Meaux</option>
<option value="2096">Clotilde Mollet</option>
<option value="2097">Alba Gaïa Kraghede Bellugi</option>
<option value="2098">Cyril Mendy</option>
<option value="2099">Salimata Kamate</option>
<option value="2100">Absa Diatou Toure</option>
<option value="2101">Grégoire Oestermann</option>
<option value="2102">Dominique Daguier</option>
<option value="2103">François Caron</option>
<option value="2104">Christian Ameri</option>
<option value="2105">Thomas Solivéres</option>
<option value="2106">Russell Crowe</option>
<option value="2107">Joaquin Phoenix</option>
<option value="2108">Connie Nielsen</option>
<option value="2109">Oliver Reed</option>
<option value="2110">Richard Harris</option>
<option value="2111">Derek Jacobi</option>
<option value="2112">Djimon Hounsou</option>
<option value="2113">David Schofield</option>
<option value="2116">Ralf Moeller</option>
<option value="2117">Spencer Treat Clark</option>
<option value="2118">David Hemmings</option>
<option value="2119">Tommy Flanagan</option>
<option value="2120">Sven-Ole Thorsen</option>
<option value="2121">David Morse</option>
<option value="2122">Michael Clarke Duncan</option>
<option value="2123">Bonnie Hunt</option>
<option value="2124">James Cromwell</option>
<option value="2125">Michael Jeter</option>
<option value="2126">Graham Greene</option>
<option value="2127">Doug Hutchison</option>
<option value="2128">Sam Rockwell</option>
<option value="2129">Patricia Clarkson</option>
<option value="2130">Dabbs Greer</option>
<option value="2131">Eve Brent</option>
<option value="2132">Tim Allen</option>
<option value="2133">Joan Cusack</option>
<option value="2134">Ned Beatty</option>
<option value="2295">Jim Cummings</option>
<option value="2135">Don Rickles</option>
<option value="2136">Michael Keaton</option>
<option value="2137">Wallace Shawn</option>
<option value="2138">Estelle Harris</option>
<option value="2139">John Morris</option>
<option value="2140">Jodi Benson</option>
<option value="2141">Emily Hahn</option>
<option value="2142">Laurie Metcalf</option>
<option value="2143">Blake Clark</option>
<option value="2144">Teddy Newton</option>
<option value="2145">Martina Gedeck</option>
<option value="2146">Ulrich Mühe</option>
<option value="2147">Sebastian Koch</option>
<option value="2148">Ulrich Tukur</option>
<option value="2149">Thomas Thieme</option>
<option value="2150">Hans-Uwe Bauer</option>
<option value="2151">Volkmar Kleinert</option>
<option value="2152">Matthias Brenner</option>
<option value="2153">Charly Hübner</option>
<option value="2154">Herbert Knaup</option>
<option value="2155">Bastian Trost</option>
<option value="2156">Marie Gruber</option>
<option value="2157">Volker Michalowski</option>
<option value="2158">Werner Daehn</option>
<option value="2159">Martin Brambach</option>
<option value="2186">Hugh Jackman</option>
<option value="2187">Piper Perabo</option>
<option value="2188">Rebecca Hall</option>
<option value="2189">Scarlett Johansson</option>
<option value="2190">Samantha Mahurin</option>
<option value="2191">David Bowie</option>
<option value="2192">Andy Serkis</option>
<option value="2193">Daniel Davis</option>
<option value="2194">Jim Piddock</option>
<option value="2248">Kirk Baltz</option>
<option value="2249">Steven Wright</option>
<option value="2250">Rich Turner</option>
<option value="2251">Tony Cosmo</option>
<option value="2252">Stevo Polyi</option>
<option value="2296">Jason Weaver</option>
<option value="2195">Christopher Neame</option>
<option value="2196">Mark Ryan</option>
<option value="2197">Roger Rees</option>
<option value="2198">Jamie Harris</option>
<option value="2199">Audrey Tautou</option>
<option value="2200">Mathieu Kassovitz</option>
<option value="2201">Rufus</option>
<option value="2202">Lorella Cravotta</option>
<option value="2203">Serge Merlin</option>
<option value="2204">Jamel Debbouze</option>
<option value="2205">Claire Maurier</option>
<option value="2206">Isabelle Nanty</option>
<option value="2207">Dominique Pinon</option>
<option value="2208">Artus de Penguern</option>
<option value="2209">Yolande Moreau</option>
<option value="2210">Urbain Cancelier</option>
<option value="2211">Maurice Bénichou</option>
<option value="2212">Michel Robin</option>
<option value="2253">Jürgen Prochnow</option>
<option value="2213">Peter O&#39;Toole</option>
<option value="2214">Anthony Quinn</option>
<option value="2215">Jack Hawkins</option>
<option value="2216">Omar Sharif</option>
<option value="2217">José Ferrer</option>
<option value="2218">Anthony Quayle</option>
<option value="2219">Arthur Kennedy</option>
<option value="2220">Donald Wolfit</option>
<option value="2221">I.S. Johar</option>
<option value="2222">Gamil Ratib</option>
<option value="2223">Michel Ray</option>
<option value="2224">John Dimech</option>
<option value="2225">Zia Mohyeddin</option>
<option value="2226">Gregory Peck</option>
<option value="2227">John Megna</option>
<option value="2228">Frank Overton</option>
<option value="2256">Hubertus Bengsch</option>
<option value="2257">Martin Semmelrogge</option>
<option value="2258">Bernd Tauber</option>
<option value="2259">Erwin Leder</option>
<option value="2260">Martin May</option>
<option value="2261">Heinz Hoenig</option>
<option value="2262">Uwe Ochsenknecht</option>
<option value="2263">Claude-Oliver Rudolph</option>
<option value="2264">Jan Fedder</option>
<option value="2265">Ralf Richter</option>
<option value="2266">Joachim Bernhard</option>
<option value="2267">Oliver Stritzel</option>
<option value="2268">Antonella Attili</option>
<option value="2269">Enzo Cannavale</option>
<option value="2270">Isa Danieli</option>
<option value="2271">Leo Gullotta</option>
<option value="2272">Marco Leonardi</option>
<option value="2273">Pupella Maggio</option>
<option value="2274">Agnese Nano</option>
<option value="2275">Leopoldo Trieste</option>
<option value="2276">Salvatore Cascio</option>
<option value="2277">Tano Cimarosa</option>
<option value="2278">Nicola Di Pinto</option>
<option value="2279">Roberta Lena</option>
<option value="2280">Nino Terzo</option>
<option value="2281">Jacques Perrin</option>
<option value="2282">Brigitte Fossey</option>
<option value="2297">Walter Huston</option>
<option value="2298">Tim Holt</option>
<option value="2283">Jonathan Taylor Thomas</option>
<option value="2284">Matthew Broderick</option>
<option value="2285">Jeremy Irons</option>
<option value="2286">Moira Kelly</option>
<option value="2287">Niketa Calame</option>
<option value="2288">Ernie Sabella</option>
<option value="2289">Nathan Lane</option>
<option value="2290">Robert Guillaume</option>
<option value="2291">Rowan Atkinson</option>
<option value="2292">Madge Sinclair</option>
<option value="2293">Whoopi Goldberg</option>
<option value="2294">Cheech Marin</option>
<option value="2326">Charlotte Aronofsky</option>
<option value="2299">Bruce Bennett</option>
<option value="2300">Barton MacLane</option>
<option value="2301">Alfonso Bedoya</option>
<option value="2302">Arturo Soto Rangel</option>
<option value="2303">Manuel Dondé</option>
<option value="2304">José Torvay</option>
<option value="2305">Margarito Luna</option>
<option value="2306">Alida Valli</option>
<option value="2307">Orson Welles</option>
<option value="2308">Trevor Howard</option>
<option value="2309">Bernard Lee</option>
<option value="2310">Paul Hörbiger</option>
<option value="2311">Ernst Deutsch</option>
<option value="2327">Mark Margolis</option>
<option value="2328">Michael Kaycheck</option>
<option value="2312">Siegfried Breuer</option>
<option value="2313">Erich Ponto</option>
<option value="2314">Wilfrid Hyde-White</option>
<option value="2315">Hedwig Bleibtreu</option>
<option value="2316">Ellen Burstyn</option>
<option value="2317">Jared Leto</option>
<option value="2318">Jennifer Connelly</option>
<option value="2319">Marlon Wayans</option>
<option value="2320">Christopher McDonald</option>
<option value="2321">Louise Lasser</option>
<option value="2322">Marcia Jean Kurtz</option>
<option value="2323">Janet Sarno</option>
<option value="2324">Suzanne Shepherd</option>
<option value="2325">Joanne Gordon</option>
<option value="2331">Sebastian Shaw</option>
<option value="2332">Ian McDiarmid</option>
<option value="2333">Michael Pennington</option>
<option value="2334">Kenneth Colley</option>
<option value="2335">James Woods</option>
<option value="2336">Elizabeth McGovern</option>
<option value="2337">Burt Young</option>
<option value="2338">Tuesday Weld</option>
<option value="2339">Treat Williams</option>
<option value="2340">James Hayden</option>
<option value="2341">William Forsythe</option>
<option value="2342">Darlanne Fluegel</option>
<option value="2343">Larry Rapp</option>
<option value="2344">Richard Foronjy</option>
<option value="2345">Robert Harper</option>
<option value="2346">Jim Carrey</option>
<option value="2347">Kate Winslet</option>
<option value="2348">Gerry Robert Byrne</option>
<option value="2349">Thomas Jay Ryan</option>
<option value="2350">Mark Ruffalo</option>
<option value="2351">Jane Adams</option>
<option value="2352">David Cross</option>
<option value="2353">Kirsten Dunst</option>
<option value="2354">Tom Wilkinson</option>
<option value="2355">Ryan Whitney</option>
<option value="2356">Debbon Ayer</option>
<option value="2357">Amir Ali Said</option>
<option value="2358">Brian Price</option>
<option value="2359">Paulie Litt</option>
<option value="2360">Adam Baldwin</option>
<option value="2361">Vincent D&#39;Onofrio</option>
<option value="2362">Dorian Harewood</option>
<option value="2363">Kevyn Major Howard</option>
<option value="2364">Arliss Howard</option>
<option value="2365">Ed O&#39;Ross</option>
<option value="2366">John Terry</option>
<option value="2367">Kieron Jecchinis</option>
<option value="2368">Kirk Taylor</option>
<option value="2369">Tim Colceri</option>
<option value="2370">Jon Stafford</option>
<option value="2371">Bruce Boa</option>
<option value="2372">Ian Tyler</option>
<option value="2373">James Robinson</option>
<option value="2374">Sean Lawlor</option>
<option value="2388">Min-sik Choi</option>
<option value="2389">Ji-tae Yu</option>
<option value="2390">Hye-jeong Kang</option>
<option value="2391">Dae-han Ji</option>
<option value="2392">Dal-su Oh</option>
<option value="2393">Byeong-ok Kim</option>
<option value="2394">Seung-Shin Lee</option>
<option value="2395">Jin-seo Yoon</option>
<option value="2396">Dae-yeon Lee</option>
<option value="2397">Kwang-rok Oh</option>
<option value="2398">Tae-kyung Oh</option>
<option value="2399">Yeon-suk Ahn</option>
<option value="2400">Il-han Oo</option>
<option value="2401">Su-hyeon Kim</option>
<option value="2402">Seung-jin Lee</option>
<option value="2403">Kim Basinger</option>
<option value="2404">David Strathairn</option>
<option value="2405">Ron Rifkin</option>
<option value="2406">Matt McCoy</option>
<option value="2407">Paul Guilfoyle</option>
<option value="2408">Paolo Seganti</option>
<option value="2409">Elisabeth Granli</option>
<option value="2410">Sandra Taylor</option>
<option value="2411">Steve Rankin</option>
<option value="2412">Graham Beckel</option>
<option value="2413">Faye Dunaway</option>
<option value="2414">John Huston</option>
<option value="2415">Perry Lopez</option>
<option value="2416">John Hillerman</option>
<option value="2417">Darrell Zwerling</option>
<option value="2453">Carol Cleveland</option>
<option value="2454">Neil Innes</option>
<option value="2455">Bee Duffell</option>
<option value="2456">John Young</option>
<option value="2457">Rita Davies</option>
<option value="2418">Diane Ladd</option>
<option value="2419">Roy Jenson</option>
<option value="2420">Roman Polanski</option>
<option value="2421">Richard Bakalyan</option>
<option value="2422">Joe Mantell</option>
<option value="2423">Bruce Glover</option>
<option value="2424">Nandu Hinds</option>
<option value="2425">James O&#39;Rear</option>
<option value="2426">James Hong</option>
<option value="2427">Gene Kelly</option>
<option value="2428">Donald O&#39;Connor</option>
<option value="2429">Debbie Reynolds</option>
<option value="2458">Avril Stewart</option>
<option value="2459">Sally Kinghorn</option>
<option value="2431">Millard Mitchell</option>
<option value="2432">Cyd Charisse</option>
<option value="2433">Douglas Fowley</option>
<option value="2434">Rita Moreno</option>
<option value="2435">Lamberto Maggiorani</option>
<option value="2436">Enzo Staiola</option>
<option value="2437">Lianella Carell</option>
<option value="2438">Gino Saltamerenda</option>
<option value="2439">Vittorio Antonucci</option>
<option value="2440">Giulio Chiari</option>
<option value="2441">Elena Altieri</option>
<option value="2442">Carlo Jachino</option>
<option value="2443">Michele Sakara</option>
<option value="2444">Emma Druetti</option>
<option value="2445">Fausto Guerzoni</option>
<option value="2446">Graham Chapman</option>
<option value="2447">John Cleese</option>
<option value="2448">Eric Idle</option>
<option value="2449">Terry Gilliam</option>
<option value="2450">Terry Jones</option>
<option value="2451">Michael Palin</option>
<option value="2452">Connie Booth</option>
<option value="2460">Mark Zycon</option>
<option value="2461">Marilyn Monroe</option>
<option value="2462">Tony Curtis</option>
<option value="2463">Jack Lemmon</option>
<option value="2464">George Raft</option>
<option value="2465">Pat O&#39;Brien</option>
<option value="2466">Joe E. Brown</option>
<option value="2467">Nehemiah Persoff</option>
<option value="2468">Joan Shawlee</option>
<option value="2469">Billy Gray</option>
<option value="2470">George E. Stone</option>
<option value="2471">Dave Barry</option>
<option value="2472">Mike Mazurki</option>
<option value="2473">Harry Wilson</option>
<option value="2474">Beverly Wills</option>
<option value="2475">Barbara Drew</option>
<option value="2476">Alfred Abel</option>
<option value="2477">Gustav Fröhlich</option>
<option value="2508">Jeffrey Jones</option>
<option value="2509">Charles Kay</option>
<option value="2478">Rudolf Klein-Rogge</option>
<option value="2479">Fritz Rasp</option>
<option value="2480">Erwin Biswanger</option>
<option value="2481">Heinrich George</option>
<option value="2482">Brigitte Helm</option>
<option value="2483">Billy Crudup</option>
<option value="2484">Billy Bob Thornton</option>
<option value="2485">Minnie Driver</option>
<option value="2486">John DiMaggio</option>
<option value="2510">Kenneth McMillan</option>
<option value="2511">Lisabeth Bartlett</option>
<option value="2512">Barbara Bryne</option>
<option value="2513">Martin Cavina</option>
<option value="2514">Roderick Cook</option>
<option value="2515">Milan Demjanenko</option>
<option value="2516">Keir Dullea</option>
<option value="2517">Gary Lockwood</option>
<option value="2487">Claire Danes</option>
<option value="2488">John DeMita</option>
<option value="2489">Jada Pinkett Smith</option>
<option value="2490">Gillian Anderson</option>
<option value="2491">Keith David</option>
<option value="2492">Corey Burton</option>
<option value="2493">Tara Strong</option>
<option value="2494">Sherry Lynn</option>
<option value="2495">Matt K. Miller</option>
<option value="2496">Marnie Mosiman</option>
<option value="2497">Julia Fletcher</option>
<option value="2498">Machiko Kyô</option>
<option value="2499">Masayuki Mori</option>
<option value="2500">Kichijirô Ueda</option>
<option value="2501">Noriko Honma</option>
<option value="2502">F. Murray Abraham</option>
<option value="2503">Tom Hulce</option>
<option value="2504">Elizabeth Berridge</option>
<option value="2505">Simon Callow</option>
<option value="2506">Roy Dotrice</option>
<option value="2507">Christine Ebersole</option>
<option value="2518">William Sylvester</option>
<option value="2519">Daniel Richter</option>
<option value="2520">Leonard Rossiter</option>
<option value="2521">Margaret Tyzack</option>
<option value="2522">Robert Beatty</option>
<option value="2523">Sean Sullivan</option>
<option value="2524">Douglas Rain</option>
<option value="2525">Frank Miller</option>
<option value="2526">Bill Weston</option>
<option value="2527">Ed Bishop</option>
<option value="2528">Alan Gifford</option>
<option value="2529">Ann Gillis</option>
<option value="2530">Paul Newman</option>
<option value="2531">Robert Redford</option>
<option value="2532">Robert Shaw</option>
<option value="2562">Naomi Stevens</option>
<option value="2582">Julian Glover</option>
<option value="2533">Charles Durning</option>
<option value="2534">Ray Walston</option>
<option value="2535">Eileen Brennan</option>
<option value="2536">Harold Gould</option>
<option value="2537">John Heffernan</option>
<option value="2538">Dana Elcar</option>
<option value="2539">Jack Kehoe</option>
<option value="2540">Dimitra Arliss</option>
<option value="2541">Robert Earl Jones</option>
<option value="2542">James Sloyan</option>
<option value="2543">Charles Dierkop</option>
<option value="2544">Lee Paul</option>
<option value="2545">Bette Davis</option>
<option value="2546">Anne Baxter</option>
<option value="2574">Rob Campbell</option>
<option value="2547">George Sanders</option>
<option value="2548">Celeste Holm</option>
<option value="2549">Gary Merrill</option>
<option value="2550">Hugh Marlowe</option>
<option value="2551">Gregory Ratoff</option>
<option value="2552">Barbara Bates</option>
<option value="2553">Walter Hampden</option>
<option value="2554">Randy Stuart</option>
<option value="2555">Craig Hill</option>
<option value="2556">Leland Harris</option>
<option value="2557">Barbara White</option>
<option value="2558">Shirley MacLaine</option>
<option value="2559">Jack Kruschen</option>
<option value="2560">David Lewis</option>
<option value="2561">Hope Holiday</option>
<option value="2563">Johnny Seven</option>
<option value="2564">Joyce Jameson</option>
<option value="2565">Willard Waterman</option>
<option value="2566">David White</option>
<option value="2567">Edie Adams</option>
<option value="2568">Gene Hackman</option>
<option value="2569">Jaimz Woolvett</option>
<option value="2570">Saul Rubinek</option>
<option value="2571">Frances Fisher</option>
<option value="2572">Anna Levine</option>
<option value="2573">David Mucci</option>
<option value="2575">Anthony James</option>
<option value="2576">Tara Frederick</option>
<option value="2583">River Phoenix</option>
<option value="2584">Michael Byrne</option>
<option value="2585">Kevork Malikyan</option>
<option value="2586">Robert Eddison</option>
<option value="2587">Richard Young</option>
<option value="2588">Alexei Sayle</option>
<option value="2589">Alex Hyde-White</option>
<option value="2590">Paul Maxwell</option>
<option value="2591">Isla Blair</option>
<option value="2592">Tsutomu Tatsumi</option>
<option value="2593">Ayano Shiraishi</option>
<option value="2594">Yoshiko Shinohara</option>
<option value="2595">Akemi Yamaguchi</option>
<option value="2596">Rhoda Chrosite</option>
<option value="2597">Shannon Conley</option>
<option value="2598">Crispin Freeman</option>
<option value="2599">Dan Green</option>
<option value="2600">Amy Jones</option>
<option value="2601">George Leaver</option>
<option value="2602">J. Robert Spencer</option>
<option value="2603">Nick Sullivan</option>
<option value="2604">Veronica Taylor</option>
<option value="2605">Cathy Moriarty</option>
<option value="2606">Nicholas Colasanto</option>
<option value="2607">Theresa Saldana</option>
<option value="2608">Mario Gallo</option>
<option value="2609">Frank Adonis</option>
<option value="2610">Joseph Bono</option>
<option value="2611">Frank Topham</option>
<option value="2612">Lori Anne Flax</option>
<option value="2613">Don Dunphy</option>
<option value="2614">Bill Hanrahan</option>
<option value="2615">Rita Bennett</option>
<option value="2632">Peter Williams</option>
<option value="2633">John Boxer</option>
<option value="2616">Tyrone Power</option>
<option value="2617">Marlene Dietrich</option>
<option value="2618">Charles Laughton</option>
<option value="2619">Elsa Lanchester</option>
<option value="2620">John Williams</option>
<option value="2621">Ian Wolfe</option>
<option value="2622">Torin Thatcher</option>
<option value="2623">Norma Varden</option>
<option value="2624">Una O&#39;Connor</option>
<option value="2625">Francis Compton</option>
<option value="2626">Philip Tonge</option>
<option value="2627">Ruta Lee</option>
<option value="2628">Sessue Hayakawa</option>
<option value="2629">James Donald</option>
<option value="2630">Geoffrey Horne</option>
<option value="2631">André Morell</option>
<option value="2634">Percy Herbert</option>
<option value="2635">Harold Goodwin</option>
<option value="2636">Ann Sears</option>
<option value="2637">Heihachirô Ôkawa</option>
<option value="2638">Keiichirô Katsumoto</option>
<option value="2639">M.R.B. Chakrabandhu</option>
<option value="2640">Bonnie Bedelia</option>
<option value="2641">Reginald VelJohnson</option>
<option value="2642">Paul Gleason</option>
<option value="2643">William Atherton</option>
<option value="2644">Hart Bochner</option>
<option value="2645">James Shigeta</option>
<option value="2646">Alan Rickman</option>
<option value="2647">Alexander Godunov</option>
<option value="2648">Bruno Doyon</option>
<option value="2649">De&#39;voreaux White</option>
<option value="2650">Andreas Wisniewski</option>
<option value="2651">Clarence Gilyard Jr.</option>
<option value="2652">Joey Plewa</option>
<option value="2653">Lorenzo Caccialanza</option>
<option value="2654">Katie Holmes</option>
<option value="2655">Rutger Hauer</option>
<option value="2656">Linus Roache</option>
<option value="2657">Gerard Murphy</option>
<option value="2658">Colin McFarlane</option>
<option value="2659">Payman Maadi</option>
<option value="2660">Leila Hatami</option>
<option value="2661">Sareh Bayat</option>
<option value="2662">Shahab Hosseini</option>
<option value="2663">Sarina Farhadi</option></select>
    </div>
  </div>

  <div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
      <input type="submit" value="Update Role" class="btn btn-primary">
    </div>
  </div>
</form>

  </div>